@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

$tipografia-uno:"font-family: 'Ranchers', cursive";
$tipografia-dos:"'Ranchers', cursive;";
$tipografia-tres:"'Ranchers', cursive;";
