@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

$tipografia-uno:"'Ranchers', cursive;";
$tipografia-dos:"'Ranchers', cursive;";
$tipografia-tres:"'Ranchers', cursive;";
