@media (max-width:768px){
    .navbar{
        justify-content: center;
        display: flex;
    }
    .carousel-item{
        justify-content: center;
    }
    .form{
        font-size: 30px;
    }
    .foot{
        justify-content: right;
        display: flex;
    }
}
    
@media (max-width:320px){
    .navbar{
        display: flex;
        font-size:10px;
    }
    .carousel-item{
        justify-self: center;
    }
    .form{
        font-size:10px;
    }
    .foot{
        display: flex;
        font-size: 10px;

    }
}